
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 140px;
    margin: 1rem;
    text-align: left;
    position: relative;
    width: 300px;
    padding-left: 22px;
    padding-top: 10px;
  }
 
  
  .card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
.delete-icon{
    margin-left: 100px;
    margin-top: 23px;
    width: 30px;
}